/* general styles */

:root {
  --background-grey: #f2f4fc;
  --primary-blue: #072ac8;
  --font-light-grey: #6b708d;
  --font-black: #292e47;
  --font-white: #ffffff;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
}

body {
  margin: 0;
  background-color: var(--background-grey);
}

button {
  background-color: var(--primary-blue);
  color: var(--font-white);
  border: none;
  padding: 1em 2em;
  cursor: pointer;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: var(--font-black);
}

.grey-p {
  color: var(--font-light-grey);
}

/* header and navbar */

header {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

header img {
  padding: 1em 2em;
  justify-self: start;
}

nav {
  display: none;
}

nav ul {
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grey-link {
  color: var(--font-light-grey);
  font-weight: 500;
  padding: 1em;
}

.grey-link:hover {
  color: var(--primary-blue);
}

header button {
  display: none;
}

.burger-menu-container {
  justify-self: end;
  padding: 1em 2em;
}

/* hero section */

.hero-section {
  max-width: 100%;
  padding: 2em 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2rem;
}

.hero-section p {
  line-height: 150%;
}

.hero-buttons-container {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section .img-container {
  max-width: 560px;
  padding: 1em;
}

.hero-section img {
  width: 100%;
}

.hero-section a {
  padding: 1.5em;
}

@media (min-width: 992px) {
  /* general styles */

  body {
    display: flex;
    justify-content: center;
  }

  .page-container {
    min-width: 992px;
    max-width: 1100px;
    padding-top: 4em;
  }

  /* header and navbar */

  header {
    grid-template-columns: 30% 40% 30%;
    justify-items: center;
  }

  nav {
    display: block;
  }

  .material-symbols-outlined {
    display: none !important;
  }

  header button {
    display: inline-block;
  }

  /* hero section */

  .hero-section {
    display: grid;
    grid-template-columns: 45% 55%;
    text-align: left;
  }

  .hero-text-content-container {
    padding-left: 2em;
  }

  h1 {
    font-size: 3rem;
  }

  .hero-buttons-container {
    flex-direction: row;
  }
}
