:root {
  --background-grey: #f2f4fc;
  --primary-blue: #072ac8;
  --font-light-grey: #6b708d;
  --font-black: #292e47;
  --font-white: #ffffff;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-color: var(--background-grey);
}

button {
  background-color: var(--primary-blue);
  color: var(--font-white);
  border: none;
  padding: 1em 2em;
}

header {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
}

nav {
  display: none;
}

nav ul {
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li {
  padding: 1em;
  color: var(--font-light-grey);
  font-weight: 500;
}

nav li:hover {
  color: var(--primary-blue);
}

@media (min-width: 992px) {
  body {
    display: flex;
    justify-content: center;
  }
  header {
    grid-template-columns: 20% 60% 20%;
  }
  nav {
    display: block;
  }

  .page-container {
    min-width: 992px;
    max-width: 1100px;
    padding-top: 4em;
  }
}
